<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>        
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="px-3 ">
      <h1>Transporte Terrestre</h1>
      <p class="h6 nosotros">Nuestro servicio de transporte logístico es la columna vertebral de la eficiencia en la cadena de suministro global. En CYGCARGOSAS, entendemos que la logística internacional es un desafío complejo que requiere precisión, velocidad y confiabilidad. Nuestra red de transporte global abarca todos los continentes y se sustenta en una infraestructura de vanguardia, flotas modernas y un equipo altamente capacitado. Desde la recogida de mercancías en cualquier parte del mundo hasta la entrega puntual en su destino final, brindamos soluciones logísticas personalizadas que optimizan los costos y los tiempos de entrega, garantizando la satisfacción de nuestros clientes y la fluidez de sus operaciones internacionales</p>
      <p class="lead">
        <img src="https://th.bing.com/th/id/R.ec7fb8047486312c4971badd41a57117?rik=bYq2vj6px5yMBw&riu=http%3a%2f%2fimg.sytuku.com%2fuptu%2fyulantu%2f180412%2f3-1P412114J8.jpg&ehk=wZunTSGHBjh2BT2JgNH8V8n5TzH9eago7oGwPUlHByY%3d&risl=&pid=ImgRaw&r=0" class="img-fluid" alt="...">
      </p>
    </main>
  

  </div>