.menu {
  display: flex;
  justify-content: column;
  font-family: "Bebas Neue", sans-serif;
  font-size: large;
  align-items: center;
  background-color: transparent;
  height: 100%;

  background: linear-gradient(
    0deg,
    rgba(252, 252, 252, 0.4413223907727153) 0%,
    rgba(0, 0, 0, 0.5701739313889618) 100%
  );
}

.circulo {
  background-color: blue;
}

/* 
  dropdown-item{
    color: white;

  } */
.menulista {
  color: red;
}
